h1{
    color: rgb(0,26, 255);
}
img{
    width:400px;
}
#thirdDiv{
    height: 600px;
    width:500px;
    background-color: rgb(19, 238, bl35);
    padding: 50px;
    border: 5px rgb (158, 36, 36) solid;

}
#spanId{
    font-size: 18px;
    margin: 50px
}